*{
	margin: 0;
	padding: 0;
       
}
body{
	font: 20px 'Open Sans', 'Catamaran', sans-serif;
	text-align: center;
	line-height: 2;
                
}

.container-fluid {
    width: auto;
}

header{
	background: url("../jpgs/omnie2.jpg") #121 no-repeat left top;; 
	background-size: cover;
        background-attachment: fixed;
	height: 749px;
        
    
}


.navbar ul{
	display: flex;
	background-color: #C16153;
	list-style: none;
	text-align: center;
	justify-content: flex-end;
	width: 100%;
	position: fixed;
	z-index: 1;
	box-shadow: 0 3px 10px #121;
}

img#hom {
        height: 20px;
        
}

.navbar ul li{ 
    height: 50px;

}
.navbar li:first-child{
     
}
.main
.navbar li:last-child{
	padding-right: 50px;
}

.navbar ul li a.to {
    height: 10px;
    position: relative;
    bottom: 2px;
    font: 600 16px 'Catamaran', sans-serif;
    display: block;
    padding: 20px;
    color: #4f2014;
    text-decoration: none;
    transition: background 2s;
}

.navbar a:hover{
	background: #C38379;
	border-radius: 8px;
      
}
.introduction{
	padding-top: 200px;
}
h1{
	color: #fff;
	font: small-caps 200 100px 'Permanent Marker', cursive, sans-serif;
	text-shadow: 4px 4px 8px #121;
}



p.veb{
	font: 400 50px 'Catamaran', sans-serif;
	color: #fff;
	text-shadow: 4px 4px 8px #121;
       
}
h2{
	color: #121;
	font: small-caps 200 40px 'Permanent Marker', sans-serif;
	padding: 40px 10px 30px 10px;
}

section#aboutMe {
    
    margin-bottom: 110px;
}

.about{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	/*justify-content: center;*/
	align-items: center;
}
.social{
	display: flex;
	flex-direction: column;
}


img.me{
	display: block;
	height: 100%;
	max-height: 280px;
	border-radius: 50%;
	margin: 20px;
}
.socialIcon{
	height: 100%;
	max-height: 60px;
	padding: 3px 15px 3px 10px;
}

section#skills {
    display: inline-block;
     
      
}

section#skills p{
    padding-bottom: 30px;
}

programme{
	display: flex;
	flex-direction: row;
        justify-content: flex-end;
	
}

ul#list li {
    opacity: 0;
    width: 100%;
    height: 40px;
    background: #e8e8e8;
    background-size: cover;
    margin-right: 10px;
    float: left;
    list-style: none;
    
}

ul#list li:first-child{
    padding-top:20px;
}
ul#list li:last-child{
    padding-bottom: 40px;
 
   
}

section#contact {
    width: 100%;
    display: inline-block;
    padding-bottom: 0px;
    
    box-shadow: 0px -20px 50px #888888;
    
}



.contForm{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-left: 20px;
    background: url("../jpgs/Sunrise.jpg");
    background-size: cover;

        
}
.contForm p {
    
    font-family: "Permanent Marker", sans serif;
    font-size: 25px;
    padding: 50px 15px 15px 15px;
    
}

form#commentForm.cmxform{
       
	display:flex;
	flex-direction: column;
        padding: 20px 10px;
        align-items: center;
       
}

input#cname, input#cemail, textarea#ccomment{
        min-width: 60%;
        max-width: 80%;
	color: #666;
	border: none;
	margin-bottom: 10px;
	font-size: 20px;
	background: #eaf9ea;
	padding: 20px;
	font: 300 16px 'Dosis', sans-serif;
        border-radius: 5px;
        border: solid 1px #C16153;
       
	
}

input[type=submit]{
	padding: 10px;
	background-color: #c04000;
	color: white;
	font: 16px 'Permanent Marker', sans-serif;
        border-radius: 10px;
        cursor: pointer;
        max-width: 60%;
}





footer{
	background: #121;
	font: small-caps 300 20px 'Permanent Marker', sans-serif;
	text-align: center;
	vertical-align: middle;
	color: white;
	padding: 18px;
/*        justify-content: center;*/
        background-size: cover;
       
}

 p.free{
        font-family: 'Catamaran', sans-serif;
	font-size: 5px;
	text-align: right;
	background-color: #121;
    
        
}


 p.free a {
        color: white;
        text-decoration: none;
}

@media screen and (max-width: 700px){
	.navbar ul{
		flex-direction: column;
	}
	.navbar li:last-child{
	padding-right: 0px;
	}
        
        
}


